$primaryColor: #d41443;
$primary-text-color: #907e82;
$text-color: #ffa5ba;
$black-color: #000000;
$white-color: #ffffff;
$primary-background-color: #fff5f6;
$hero-back-color: #ffb8ca;
$button-and-heading-color: #d41443;
$button-hover: #c7133e;
$button-hover-two: #ecebeb;
$heading-back-color-contacts-one: #f0d1a5;
$heading-back-color-contacts-two: #c2e297;
$heading-back-color-contacts-three: #f0d1a5;
