<section class="galleri">
    <div class="container">
        <h2 class="galleri__title">Галерея</h2>
        <picture>
            <source srcset="./images/gallery-dextop.1.png 1x, ./images/gallery-dextop.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./images/gallery-tablet.1.png 1x, ./images/gallery-tablet.2x.png 2x" media="(min-width: 768px)">
            <source srcset="./images/gallery-mobil.1.png 1x, ./images/gallery-mobil.2x.png 2x" media="(min-width: 320px)">
            <img class="galleri__img" src="./images/gallery-mobil.1.png" alt="галерея">
        </picture>
      
       </div> 
</section>


  