<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="/" class="logo"
        ><img src="./images/logo-ice.png" alt="логотип" class="logo__image"
      /></a>
      <ul class="site-nav">
        <li class="site-nav__item"><a href="#" class="site-nav__link">Home</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">About us</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">How it’s made?</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Our products</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Contact</a></li>
      </ul>
    </nav>
    <button class="button" type="button">
      Buy now
      <svg width="6" height="10" class="button__icon">
        <use href="./images/sprite.svg#arrow-buy"></use>
      </svg>
    </button>
  </div>
</header>

<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with <span class="hero__text">passion</span></h1>
    <ul class="pos-list">
      <li class="pos-list__item">
        <p class="pos-list__quantity">16</p>
        <h2 class="pos-list__content">cafes</h2>
      </li>
      <li class="pos-list__item">
        <p class="pos-list__quantity">23</p>
        <h2 class="pos-list__content">food trucks</h2>
      </li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item">
        <button class="button" type="button">Products</button>
      </li>
      <li class="button-list__item">
        <button class="button" type="button">How it’s made?</button>
      </li>
    </ul>
    <p class="hero__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <a href="#" class="transition-link">
      <svg width="26" height="26" class="transition-link__icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <picture>
      <source
        srcset="./images/desktop/milk.png 1x, ./images/desktop/milk-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/tablet/milk.png 1x, ./images/tablet/milk-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img class="hero__milk-image" src="./images/tablet/milk.png" alt="кувшин с молоком" />
    </picture>
    <picture>
      <source
        srcset="./images/mobile/ice.png 1x, ./images/mobile/ice-2x.png 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/desktop/ice.png 1x, ./images/desktop/ice-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/tablet/ice.png 1x, ./images/tablet/ice-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img class="hero__icecream-image" src="./images/mobile/ice.png" alt="вкусное мороженое" />
    </picture>
    <picture>
      <source
        srcset="./images/desktop/women.png 1x, ./images/desktop/women-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/tablet/women.png 1x, ./images/tablet/women-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img class="hero__women-image" src="./images/tablet/women.png" alt="девушка с мороженым" />
    </picture>
  </div>
</section>
