.galleri__title{
    display: none;
}
.galleri{
    width: 100%;
    padding-bottom: 80px;  
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;     
     background: linear-gradient(
         to bottom,
        $primary-background-color 25%,
        $white-color 25%,
        $white-color 50%);  
        
        @media screen and (min-width: 768px){
            padding-bottom: 121px;
            background: linear-gradient(
                to bottom,
               $primary-background-color 28%,
               $white-color 22%,
               $white-color 50%); 
         }
        @media screen and (min-width: 1200px){
            padding-bottom: 123px;
            background: linear-gradient(
                to bottom,
               $primary-background-color 31%,
               $white-color 19%,
               $white-color 50%); 
         }      
                      
}
.galleri__img{
  
    padding-left: 20px;
   margin: 0 auto;
    align-items: center;
    justify-content: center;  
    @media screen and (min-width: 320px){
        margin-left: -20px;
        padding-left: 0;
    }
    @media screen and (min-width: 768px){
        margin-left: -25px;
    }
       @media screen and (min-width: 1200px){
       margin-left: -95px;
    }
}

